.download-section {
  background-color: white;
  padding: 100px 15px;
}
@media (max-width: 767px) {
  .download-section {
    padding: 50px 15px;
  }
}

.download-container {
  text-align: center;
}

.download-title {
  font-weight: 300;
  color: #2d3033;
  font-size: 2rem;
  line-height: 21px;
  margin-bottom: 17px;
}

.download-subtitle {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .download-subtitle {
    margin-bottom: 20px;
  }
}
.download-subtitle-p {
  font-weight: 700;
  font-size: 0.93rem;
  line-height: 31px;
  color: #2d3033;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .download-subtitle-p {
    font-size: 1.1rem;
  }
}

.download-btn__button {
  background-color: #e84545;
  padding: 18px 83px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
  font-size: 0.93rem;
  line-height: 21px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.download-btn__button:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-box-shadow: 5px 5px 5px 5px #c6cacc;
          box-shadow: 5px 5px 5px 5px #c6cacc;
}
@media (max-width: 767px) {
  .download-btn__button {
    padding: 13px 53px;
    font-size: 1.1rem;
  }
}