$font-white: #ffffff;
$font-black: #2d3033;
$font-grey: #6c7279;
$font-greylight: #c6cacc;
$font-red: #e84545;
$ff-Raleway: 'Raleway', sans-serif;
$ff-OpenSans: 'Open Sans', sans-serif;
$ff-Cardo: 'Cardo', serif;

.contacts-section {
    background-color: #3a3e64;
    padding: 71px 0 88px 0;
}

.contactsrow {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
    &-item {
        width: 330px;
        text-align: center;
        margin: 0 15px;
        &__title {
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            color: $font-white;
            text-transform: uppercase;
            margin-bottom: 22px;
        }
        &__textbox-p {
            font-weight: 400;
            font-size: 14px;
            line-height: 22.5px;
            color: rgba($color: $font-white, $alpha: 0.5);
            margin: 0 15px;
        }
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            &-item {
                width: 40px;
                padding: 11px 0;
                border: 2px solid $font-white;
                margin-right: 7px;
                &-p {
                    color: $font-white;
                }
                &:last-child {
                    margin-right: 0
                }
            }
        }
    }
}