$font-white: #ffffff;
$font-black: #2d3033;
$font-grey: #6c7279;
$font-greylight: #c6cacc;
$font-red: #e84545;
$ff-Raleway: 'Raleway', sans-serif;
$ff-OpenSans: 'Open Sans', sans-serif;
$ff-Cardo: 'Cardo', serif;

.footer {
    background-color: #313454;
    padding: 30px 0;
    @media (max-width: 767px) {
        padding: 10px 0;
    }
    &-text {
        text-align: center;
        &__p {
            font-weight: 400;
            color: $font-grey;
            font-size: 1.14rem;
            line-height: 22.5px;
        }
        &__heart {
            color: red;
            font-size: 1.29rem;
        }
        &__made::after {
            content: 'by Kamal Chaneman';
            color: $font-white;
            display: inline-block;
            margin-left: 3px;
            }
    }
}

